target/
.DS_Store
.svn
.hg
.hgtags
web/src/main/resources/META-INF/spring/dashboard.properties
web/src/main/resources/log4j2.properties

application.log
.vscode
.settings
.classpath
.project

build.bat
deploy.bat
deploy_index.bat
deploy_js.bat
start-tomcat.bat
