target/
.DS_Store
.svn
.hg
.hgtags
web/src/main/resources/META-INF/spring/dashboard.properties
web/src/main/resources/log4j2.properties

application.log
.vscode
.settings
.classpath
.project
.vscode

ctd2_dashboard_tmpl_helper.sql
dev/*
