target/
.DS_Store
.svn
.hg
.hgtags
web/src/main/resources/META-INF/spring/dashboard.properties
web/src/main/resources/log4j2.properties

application.log
.vscode
.settings
.classpath
.project
.vscode

ctd2_dashboard_tmpl_helper.sql
.build.sh
.deploy.sh
.deploy_index.sh
.deploy_js.sh
.deploy_css.sh
build.bat
build_for_docker.bat
deploy.bat
deploy_index.bat
deploy_js.bat
deploy_css.bat
start-tomcat.bat
