/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 10px;
  color: #5a5a5a;
  background-image: url("../img/bg-gray.png");
}

.extra-margin {
    margin-left: 20px;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* styles copied from the earlier version of bootstrap to retain the basic appearance */
input.search-query{padding-right:14px;padding-right:4px \9;padding-left:14px;padding-left:4px \9;margin-bottom:0;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;}
.form-search .input-append .search-query{-webkit-border-radius:14px 0 0 14px;-moz-border-radius:14px 0 0 14px;border-radius:14px 0 0 14px;}
.form-search .input-append .btn{-webkit-border-radius:0 14px 14px 0;-moz-border-radius:0 14px 14px 0;border-radius:0 14px 14px 0;}
.nav>li>a{display:block;}
.navbar-inner{min-height:60px;padding-left:20px;padding-right:20px;background-color:#f6f6f6;background-image:-moz-linear-gradient(top, #f6f6f6, #f6f6f6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f6f6f6));background-image:-webkit-linear-gradient(top, #f6f6f6, #f6f6f6);background-image:-o-linear-gradient(top, #f6f6f6, #f6f6f6);background-image:linear-gradient(to bottom, #f6f6f6, #f6f6f6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#fff6f6f6', GradientType=0);border:1px solid #d7d7d7;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);*zoom:1;}.navbar-inner:before,.navbar-inner:after{display:table;content:"";line-height:0;}
.navbar-static-top{position:static;margin-bottom:0;}.navbar-static-top .navbar-inner{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.navbar .nav{position:relative;left:0;display:block;float:left;margin:0 10px 0 0;}
.navbar .nav>li{float:left;}
.navbar-inverse .navbar-inner{background-color:#333333;background-image:-moz-linear-gradient(top, #333333, #333333);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#333333));background-image:-webkit-linear-gradient(top, #333333, #333333);background-image:-o-linear-gradient(top, #333333, #333333);background-image:linear-gradient(to bottom, #333333, #333333);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff333333', GradientType=0);border-color:#252525;}
.pagination ul>li>a,.pagination ul>li>span{float:left;padding:4px 12px;line-height:26px;text-decoration:none;background-color:#ffffff;border:1px solid #dddddd;border-left-width:0;}
.pagination ul>li{display:inline;}
.pull-left{float:left;}

.pull-right{float:right}

/* dropdown style from older bootstrap - only for the top dashboard header */
.dropdown .caret{margin-top:8px;margin-left:2px;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;list-style:none;background-color:#f6f6f6;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, 0.2);*border-right-width:2px;*border-bottom-width:2px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;}
.dropdown-menu .divider{*width:100%;height:1px;margin:12px 1px;*margin:-5px 0 5px;overflow:hidden;background-color:#e5e5e5;border-bottom:1px solid #ffffff;}
.dropdown-menu li>a{display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:26px;color:#333333;white-space:nowrap;}
.dropdown-menu li>a:hover,.dropdown-menu li>a:focus,.dropdown-submenu:hover>a{text-decoration:none;color:#ffffff;background-color:#920001;background-image:-moz-linear-gradient(top, #9c0001, #830001);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#9c0001), to(#830001));background-image:-webkit-linear-gradient(top, #9c0001, #830001);background-image:-o-linear-gradient(top, #9c0001, #830001);background-image:linear-gradient(to bottom, #9c0001, #830001);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9c0001', endColorstr='#ff830001', GradientType=0);}
.dropdown-menu .active>a,.dropdown-menu .active>a:hover{color:#ffffff;text-decoration:none;outline:0;background-color:#920001;background-image:-moz-linear-gradient(top, #9c0001, #830001);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#9c0001), to(#830001));background-image:-webkit-linear-gradient(top, #9c0001, #830001);background-image:-o-linear-gradient(top, #9c0001, #830001);background-image:linear-gradient(to bottom, #9c0001, #830001);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9c0001', endColorstr='#ff830001', GradientType=0);}
.dropdown-menu .disabled>a,.dropdown-menu .disabled>a:hover{color:#999999;}
.dropdown-menu .disabled>a:hover{text-decoration:none;background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);cursor:default;}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#c3c3c3;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.dropdown .dropdown-menu .nav-header{padding-left:20px;padding-right:20px;}

/* fine-tune to mimic the looking of previous version */
.container{width:940px; padding:0px}
.navbar{padding:0px;}
.navbar-inner{width:100%}
.navbar-inner .pull-right{float:right}
#omni-input{float:left;padding:4px 15px 4px 10px}
.btn.search-button{padding:2px 15px 2px 10px}
a,a:not([href]):not([tabindex]),.btn-link{color:#9c0001}
.row.one-story{text-align:left}
.one-story .pull-right{float:right}
.pagination-centered ul{margin:auto}

.hide{display: none;}
.current-page {color: black;}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-top: 10px;
  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 10px 20px 10px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 10px 11px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}

.navbar-inner {
  min-height: 0px;
}

.navbar .nav > li > a.navlink {
  color: white;
}

.navbar .nav > li > a.navlink:hover,
.navbar .nav > li > a.navlink-current {
  color: #FE5A07;
}

/* Carousel base class */
.carousel {
  margin-bottom: 0px;
}

.carousel .container {
  position: relative;
  z-index: 10;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  background-color: transparent;
  border: 0;
}

.carousel img.cimg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 450px;
}

.carousel-caption {
  background-color: #f6f6f6;
  background-image: url('../img/ctd2_bg.png');
  background-repeat: no-repeat;
  background-position: right 5px;
  position: static;
  padding: 0 20px;
  padding-top: 25px;

}

.story-link {
    color: #a70001;
}

.target {
    border-top: 15px solid #1ea44b;
}

.target-link {
    color: #1ea44b;
}

.drug {
    border-top: 15px solid #006bb9;
}

.drug-link {
    color: #006bb9;
}

.context {
    border-top: 15px solid #f99910;
}

.context-link {
    color: #f99910;
}

.active-box {
    border-top-width: 30px;
}

.active-box h2 {
    font-weight: bold;
}

.carousel-well p {
    color: #5A5A5A;
}

.carousel-caption h1 {
    color: #5A5A5A;
}

.lead {
    font-size: 18px;
    font-weight: normal;
}

.browse-by {
    font-size: 16px;
    padding-left: 10px;
    font-weight: bold;
}

.common-container {
    margin-top: 66px;
    padding-bottom: 30px;

    background-color: #f6f6f6;
    background-image: url('../img/ctd2_bg.png');
    background-repeat: no-repeat;
    background-position: right 0px;

    border-left: 5px solid #f6f6f6;
    border-right: 5px solid #f6f6f6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* for data tables integration */
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('../images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }

table {
    margin-bottom: 6px !important;
    clear: both;
}

.sorting_1, .sorting_2, .sorting_3 {
    background-color: transparent;
}

.navbar-inner {
    padding-left: 1px;
}

ul.synonyms {
    margin-bottom: 0px;
}

blockquote {
    border-left: 5px solid #a70001;
}

blockquote p {
    font-size: 22px;
    font-style: italic;
}

.img-evidence {
    width: auto;
    max-height: 140px;
}

#omnisearch {
    margin: 5px 0 0 0;
}

.popover-content {
    font-size: 14px;
}

.fancybox-title-inside {
    font-size: 110%;
    background-color: #f6f6f6;
}

.image-evidence-wrapper {
    max-height: 150px;
    max-width: 150px;
    overflow: hidden;
}

.one-story h4 {
    color: #5A5A5A;
}

#redirect-message {
    font-size: 95%;
}

#browse-pagination a {
    padding: 4px 11px;
}

li.browsed-item {
    margin-left: 0;
}

#template-helper-container input, #template-helper-container select {
    margin-bottom: 0;
}

.template-preview-wrapper {
    width: 100%;
    overflow-x: scroll;
    border: 1px solid gray;
}

.template-download button {
    margin-top: 20px;
}

#template-helper-container td {
    padding: 7px;
}

td.next-cell {
    text-align: center;
}

.input-xxxlarge {
    width: 650px;
}

 .centeredImage {
    position: absolute;
    top: 50%;
    left: 50%;
 }

 .button-link {
     font-weight: bold;
  }

.center-image-column img {
    max-width: 100px;
}

.center-image-column {
    width: 125px;
    text-align: center;
}

.center-name {
    font-weight: bold;
}

th.submission-count {
    min-width: 150px;
}

.fancy-story-container {
    padding: 30px;
}

img.fancy-story-img {
    float: right;
    margin: 20px;
}

.ctd2-boxes .span3 p {
    font-size: 16px;
    height: 230px;
}

.ctd2-boxes h4 {
    text-align: center;
}

.one-story h4 {
    margin-bottom: 10px;
}

.one-story img {
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.more-observations-message div.alert {
    padding-top: 20px;
    margin-top: 20px;
}

.navbar {
    margin-bottom: 8px;
}

.navbar-wrapper .container {
    background-color: #f6f6f6;
    border-left: 5px solid #f6f6f6;
    border-right: 5px solid #f6f6f6;

}

.footer-container {
    margin-top: 10px;
    border: 1px solid #FE5A07;
    border-top-width: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

footer {
    padding: 10px;
    text-align: center;
}

#myCarousel .container {
    border-left: 5px solid #f6f6f6;
    border-right: 5px solid #f6f6f6;
}

.story-cards {
    height: 325px;
    overflow-y: auto;
}

.overview-box {
    padding-top: 65px;
    background-color: white;
    border-radius: 10px;
}

#show-hide-overview {
    font-weight: bold;
    margin-top: -25px;
    margin-bottom: 15px;
    text-align: right;
}

div.dark-separator {
    height: 5px;
    width: 100%;
    background-color: #555555;
}

.explore-thumbnail h4 {
    white-space: nowrap;
    overflow: hidden;
}

#explore-container .span3 {
    min-height: 500px;
}

#explore-container .span4 {
    min-height: 500px;
}

#explore-container .span2 {
    min-height: 360px;
}

.explore-thumbnail img {
    background-color: white;
}

h2.target, h3.target, h4.target, h5.target {
    color: #1ea84d;
    border-top: 0px;
}

h2.compound, h3.compound, h4.compound, h5.compound {
    color: #006cbb;
    border-top: 0px;
}

h2.context, h3.context, h4.context, h5.context {
    color: #f99a14;
    border-top: 0px;
}

.customize-target, .customize-target:hover {
    color: #1ea84d;
}

.customize-compound, .customize-compound:hover {
    color: #006cbb;
}

.customize-context, .customize-context:hover {
    color: #f99a14;
}

.numbered-image {
    background-color: white;
    background-size: cover;
    min-height: 120px;
}

.numbered-image b {
    padding: 5px;
    background-color: white;
    color: dimgrey;
}

.explore-thumbnail .caption {
    padding: 5px;
}

.explore-thumbnail .caption h4 {
    margin: 5px 0px;
}

.explore-thumbnail .caption p {
    font-size: 16px;
    line-height: 20px;
}

.nonewline {
    white-space: nowrap;
}

#queryDescription
{
	margin-left: 300px
}
/* General font over-rides */
body {
    font-family: Helvetica, Arial;
    line-height: normal;
}

.carousel-caption {
    padding-top: 5px;
    padding-bottom: 15px;
}

.well {
    padding: 15px;
    margin-bottom: 0px;
    background-color: transparent;
}

.carousel-caption h4, .carousel-caption p {
    line-height: 24px;
}

.table th, .table td {
    line-height: 24px;
}

.obs-count {
    white-space: nowrap;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #777777;
}

blockquote p {
    line-height: 30px;
    font-weight: normal;
}

.alert, .alert h4 {
    color: #81632f;
}

.firstlead {
    padding-top: 10px;
}

.greenColor
{
	color: green
}

.labelDisable
{
	color:#ccc
}

.geneSelectList
{
	width: 300px
}

#deleteGene {
    margin-left: 100px
}

#clearList {
    margin-left: 35px
}
 
#loadGenes {
    margin-left: 70px
}

.help-navigate-text-container {
    padding-left: 20px;
    padding-right: 20px;
}

tr.group td {
    text-align: center;
    background-color: #ededed !important;
}

tr.group td {
    text-align: left;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #ededed !important;
    color: #a70001;
}

h2.center-title {
    margin-bottom: 0px;
}

div.center-link-container {
    padding-left: 5px;
    margin-bottom: 20px;
}

.badge {
    padding-top: 5px;
}

.story-date, .story-details, .center-image-column {
    white-space: nowrap;
    vertical-align: middle !important;
}

.story-details, .center-image-column {
    text-align: center !important;
}
